{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Rezerwacja Jedzenia</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="rezerwacje">

				<section>
					<div class="parametry_zamowienia">
						<div class="menu_tekst">Dodaj danie</div>
					</div>


					<div class="parametry_zamowienia_menu">
						<div class="menu_tekst">Menu</div>
						<div class="menu_zamawianie">
							{% for menu in  menu_orgs %}
							{{menu.typ}}</br>
							<ol class="lista_jedzenie">
								<li class="element_jedzenie">
									{% for item in  menu.zawartosc.all %}
									{{item}} ({{item.cena}} zl)
									<ul class="dymek">
										<img src="{{item.zdjecie.url}}" alt="{{item.zdjecie}}" style="width:220px; margin-left:-63px; margin-top:2px;">
									</ul>
									<ul class="skladniki">
										{% for skladniki in  item.skladniki.all %}
										<li class="skladniki"> {{skladniki}}</li>
										{% endfor %}
									</ul>
								</li>
								<div style="clear:both;"></div>
								{% endfor %}
								{% endfor %}
							</ol>
						</div>
					</div>


					<div class="parametry_zamowienia2">
						<form action="" method="post">
							<div class="menu_tekst">Edytuj danie</div>

							<div id="do_checkboxa">
								<fieldset>
									<legend> Dodatki mięsne </legend>
									<div><label><input type="checkbox" value="1" name="dodatki">Szynka +4zł</label></div>
									<div><label><input type="checkbox" value="2" name="dodatki">Salami +4zł</label></div>
									<div><label><input type="checkbox" value="3" name="dodatki">Boczek +4zł</label></div>
									<div><label><input type="checkbox" value="4" name="dodatki">Pepperoni +5zł</label></div>
									<div><label><input type="checkbox" value="5" name="dodatki">Kurczak +5zł</label></div>
									<div><label><input type="checkbox" value="6" name="dodatki">Kiełasa +3zł</label></div>
								</fieldset>
							</div>
							<div id="do_checkboxa">
								<fieldset>
									<legend> Dodatki warzywne </legend>
									<div><label><input type="checkbox" value="7" name="dodatki">Papryka +3zł</label></div>
									<div><label><input type="checkbox" value="8" name="dodatki">Brokuł +3zł</label></div>
									<div><label><input type="checkbox" value="9" name="dodatki">Rukola +2zł</label></div>
									<div><label><input type="checkbox" value="10" name="dodatki">Pomidor +3zł</label></div>
									<div><label><input type="checkbox" value="11" name="dodatki">Zieminaki +2zł</label></div>
									<div><label><input type="checkbox" value="12" name="dodatki">Kapary  +4zł</label></div>
								</fieldset>
							</div>
							<div id="do_checkboxa">
								<fieldset>
									<legend> Inne dodatki </legend>
									<div><label><input type="checkbox" value="13" name="dodatki">Krewetki +7zł</label></div>
									<div><label><input type="checkbox" value="14" name="dodatki">Małże +6zł</label></div>
									<div><label><input type="checkbox" value="15" name="dodatki">Ananas +3zł</label></div>
								</fieldset>
							</div>
							<div id="do_checkboxa">
								<fieldset>
									<legend> Skład Pizzy </legend>
									<div><label><input type="checkbox" value="1" name="sklad" checked>ser </label></div>
									<div><label><input type="checkbox" value="2" name="sklad" checked>sos</label></div>
									<div><label><input type="checkbox" value="3" name="sklad" checked>szynka</label></div>
									<div><label><input type="checkbox" value="4" name="sklad" checked>pieczarki </label></div>
								</fieldset>
							</div>
							<div class="input_field2">
								<input type="submit"></input>
							</div>
						</form>
					</div>

					<div style="clear:both;"></div>

					<div class="akceptuj">
						Akceptuj
					</div>
				</section>

			</div>
		</div>
	</section>
</main>
{% endblock content %}