{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Rezerwacja</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="rezerwacje">

				<section>
					<div class="parametry_zamowienia">
						<div class="menu_tekst">Dodaj danie</div>
					</div>

					<div class="parametry_zamowienia_menu">
						<div class="menu_tekst">Menu</div>
						<div class="menu_zamawianie">
							Pizze:</br>
							<div class="zawartosc_zamawianie">Pizza Wiejska</div>
							<div class="zawartosc_zamawianie">Pizza Grzybobranie</div>
							<div class="zawartosc_zamawianie">Pizza Zemsta Szefa</div>
							<div class="zawartosc_zamawianie">Pizza Hawajka</div>
							<div class="zawartosc_zamawianie">Pizza Tunno</div>
							<div class="zawartosc_zamawianie">Pizza 4ser</div>
							<div class="zawartosc_zamawianie">Pizza Pepperoni</div>
							<div class="zawartosc_zamawianie">Pizza Mięsna</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Makarony: </br>
							<div class="zawartosc_zamawianie">Tagiatelle</div>
							<div class="zawartosc_zamawianie">Spaghetti</div>
							<div class="zawartosc_zamawianie">Łazanki</div>
							<div class="zawartosc_zamawianie">Z Kurczakiem</div>
							<div class="zawartosc_zamawianie">Carbonara</div>
							<div class="zawartosc_zamawianie">Z Owocami Morza</div>
							<div class="zawartosc_zamawianie">Cannelloni</div>
							<div class="zawartosc_zamawianie">Z Grzybami</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Włoskie kanapki:</br>
							<div class="zawartosc_zamawianie">Banh Mi</div>
							<div class="zawartosc_zamawianie">Kati Roll</div>
							<div class="zawartosc_zamawianie">Bunny Chow</div>
							<div class="zawartosc_zamawianie">Kanapka Kubańska</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Napoje:</br>
							<div class="zawartosc_zamawianie">Woda</div>
							<div class="zawartosc_zamawianie">CocaCola</div>
							<div class="zawartosc_zamawianie">Fanta</div>
							<div class="zawartosc_zamawianie">Sok jabłkowy</div>
							<div class="zawartosc_zamawianie">Kawa</div>
							<div class="zawartosc_zamawianie">Sprite</div>
							<div class="zawartosc_zamawianie">Piwo Lager</div>
							<div class="zawartosc_zamawianie">Piwo Ciemne</div>
							<div class="zawartosc_zamawianie">Wino Białe</div>
							<div class="zawartosc_zamawianie">Wino Czerwone</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Desery:</br>
							<div class="zawartosc_zamawianie">Lody</div>
							<div class="zawartosc_zamawianie">Szarlotka</div>
							<div class="zawartosc_zamawianie">Ciasto Bananowe</div>
							<div class="zawartosc_zamawianie">Sernik</div>
							<div class="zawartosc_zamawianie">Ciastko Francuzkie</div>
							<div class="zawartosc_zamawianie">Czekoladowe marzenie</div>
							<div class="zawartosc_zamawianie">Piwo Lager</div>
							<div class="zawartosc_zamawianie">Piwo Ciemne</div>
							<div class="zawartosc_zamawianie">Wino Białe</div>

							<div style="clear:both;"></div>
						</div>
					</div>

					<div class="parametry_zamowienia2">
						<div class="menu_tekst">Edytuj danie</div>
					</div>

					<div style="clear:both;"></div>

					<div class="akceptuj">
						Akceptuj
					</div>
				</section>

			</div>
		</div>
	</section>
</main>
{% endblock content %}