{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Rezerwacja</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="rezerwacje">

				<section>
					<div class="parametry_zamowienia">
						<div class="menu_tekst">Co Cię interesuje?</div>
						<form action="" method="post">
							{% csrf_token %}
							{% load bootstrap4 %}
							{% bootstrap_css %}
							{% bootstrap_javascript jquery='full' %}
							{{form.media}}
							<div id="ile_osob">
								<fieldset>
									<!--<legend> Ile miejsc przy stoliku? </legend>
									<div><label><input type="radio" value="1" name="miejsca">Jedno</label></div>
									<div><label><input type="radio" value="2" name="miejsca">Dwa</label></div>
									<div><label><input type="radio" value="3" name="miejsca">Trzy</label></div>
									<div><label><input type="radio" value="4" name="miejsca">Cztery</label></div>
									<div><label><input type="radio" value="5" name="miejsca">Pięć</label></div>-->
									{{ form.places_by_table }}
								</fieldset>
							</div>

							<div>
								<fieldset>
									<legend> Którego dnia? </legend>
									{{ form.day }}
								</fieldset>
							</div>

							<div class="ktora_godzina">
								<fieldset>
									<legend> Od której godziny? </legend>
									{{ form.time_begin }}
									<!--<div id="godziny">-->
										
										<!--<label>
		<select id="godzina_start" name="godzina_start">
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
		</select>
	</label>-->
									<!--</div>

									<div id="minuty">-->
										
										<!--<label>
											<select id="minuty_start" name="minuty_start">
												<option value="00">00</option>
												<option value="15">15</option>
												<option value="30">30</option>
												<option value="45">45</option>
											</select>
										</label>-->
									<!--</div>
									<div style="clear:both;"></div>-->
								</fieldset>
							</div>

							<div class="ktora_godzina">
								<fieldset>
									<legend> Do której godziny? </legend>
									{{ form.time_end }}
									<!--<div id="godziny">-->
										
										<!--<label>
											<select id="godzina_koniec" name="godzina_koniec">
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
											</select>
										</label>-->
									<!--</div>

									<div id="minuty">-->
									
										<!--<label>
											<select id="minuty_koniec" name="minuty_koniec">
												<option value="00">00</option>
												<option value="15">15</option>
												<option value="30">30</option>
												<option value="45">45</option>
											</select>
										</label>-->
									<!--</div>-->

								</fieldset>
							</div>

						</form>
						<div class="menu_tekst">Zaznacz stolik na planie restauracji</div>
					</div>

					<div class="mapa_restauracji_kontener">
						<div class="menu_tekst">Plan Restauracji</div>
					</div>


					<div style="clear:both;"></div>
				</section>

				<section>
					<div class="parametry_zamowienia">
						<div class="menu_tekst">Dodaj danie</div>
					</div>

					<div class="parametry_zamowienia_menu">
						<div class="menu_tekst">Menu</div>
						<div class="menu_zamawianie">
							Pizze:</br>
							<div class="zawartosc_zamawianie">Pizza Wiejska</div>
							<div class="zawartosc_zamawianie">Pizza Grzybobranie</div>
							<div class="zawartosc_zamawianie">Pizza Zemsta Szefa</div>
							<div class="zawartosc_zamawianie">Pizza Hawajka</div>
							<div class="zawartosc_zamawianie">Pizza Tunno</div>
							<div class="zawartosc_zamawianie">Pizza 4ser</div>
							<div class="zawartosc_zamawianie">Pizza Pepperoni</div>
							<div class="zawartosc_zamawianie">Pizza Mięsna</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Makarony: </br>
							<div class="zawartosc_zamawianie">Tagiatelle</div>
							<div class="zawartosc_zamawianie">Spaghetti</div>
							<div class="zawartosc_zamawianie">Łazanki</div>
							<div class="zawartosc_zamawianie">Z Kurczakiem</div>
							<div class="zawartosc_zamawianie">Carbonara</div>
							<div class="zawartosc_zamawianie">Z Owocami Morza</div>
							<div class="zawartosc_zamawianie">Cannelloni</div>
							<div class="zawartosc_zamawianie">Z Grzybami</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Włoskie kanapki:</br>
							<div class="zawartosc_zamawianie">Banh Mi</div>
							<div class="zawartosc_zamawianie">Kati Roll</div>
							<div class="zawartosc_zamawianie">Bunny Chow</div>
							<div class="zawartosc_zamawianie">Kanapka Kubańska</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Napoje:</br>
							<div class="zawartosc_zamawianie">Woda</div>
							<div class="zawartosc_zamawianie">CocaCola</div>
							<div class="zawartosc_zamawianie">Fanta</div>
							<div class="zawartosc_zamawianie">Sok jabłkowy</div>
							<div class="zawartosc_zamawianie">Kawa</div>
							<div class="zawartosc_zamawianie">Sprite</div>
							<div class="zawartosc_zamawianie">Piwo Lager</div>
							<div class="zawartosc_zamawianie">Piwo Ciemne</div>
							<div class="zawartosc_zamawianie">Wino Białe</div>
							<div class="zawartosc_zamawianie">Wino Czerwone</div>
							<div style="clear:both;"></div>
						</div>
						<div class="menu_zamawianie">
							Desery:</br>
							<div class="zawartosc_zamawianie">Lody</div>
							<div class="zawartosc_zamawianie">Szarlotka</div>
							<div class="zawartosc_zamawianie">Ciasto Bananowe</div>
							<div class="zawartosc_zamawianie">Sernik</div>
							<div class="zawartosc_zamawianie">Ciastko Francuzkie</div>
							<div class="zawartosc_zamawianie">Czekoladowe marzenie</div>
							<div class="zawartosc_zamawianie">Piwo Lager</div>
							<div class="zawartosc_zamawianie">Piwo Ciemne</div>
							<div class="zawartosc_zamawianie">Wino Białe</div>

							<div style="clear:both;"></div>
						</div>
					</div>

					<div class="parametry_zamowienia2">
						<div class="menu_tekst">Edytuj danie</div>
					</div>

					<div style="clear:both;"></div>

					<div class="akceptuj">
						Akceptuj
					</div>
				</section>

			</div>
		</div>
	</section>
</main>
{% endblock content %}