{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<!--{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}-->
<title>MeetAndEat - Rezerwacja</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="rezerwacje">

				<section>
					<div class="parametry_zamowienia">
						<div class="menu_tekst">Co Cię interesuje?</div>
						<form action="" method="post">
							{% csrf_token %}
							{{form.media}}
							<div id="ile_osob">
								<fieldset>
									<legend> Ile miejsc przy stoliku? </legend>
									{{ form.places_by_table }}
								</fieldset>
							</div>

							<div class="jaki_dzien">
								<fieldset>
									<legend> Którego dnia? </legend>
									<input type="date" name="dzien" min="{{dates.min}}" max="{{dates.max}}"?>
								</fieldset>
							</div>
							<div class="ktora_godzina">
								<fieldset>
									<legend> Od której godziny? </legend>
									<input type="time" name="czas-start" step="900" min="16:00:00" max="21:45:00">
								</fieldset>
							</div>

							<div class="ktora_godzina">
								<fieldset>
									<legend> Do której godziny? </legend>
									<input type="time" name="czas-koniec" step="900" min="16:00:00" max="21:45:00">
								</fieldset>
							</div>
							<div class="input_field">
								<input type="submit" name="date_submit" value="OK" />
							</div>
						</form>
						{% if sugg.suc == "reserve" %}
						<div class="menu_tekst">Zaznacz stolik na planie restauracji</div>
						{% endif %}
					</div>

					<div class="mapa_restauracji_kontener">
						<div class="menu_tekst">Plan Restauracji</div>
						<div class="mapa">
							<a href="{% url 'reservation2' %}"> <div class="stolik1" style="-webkit-box-shadow: 0px 0px 2px 19px #C10000; box-shadow: 0px 0px 2px 19px #C10000;"> </div> </a>
							<a href="{% url 'reservation2' %}"> <div class="stolik2" style="-webkit-box-shadow: 0px 0px 2px 19px #05F2B1; box-shadow: 0px 0px 2px 19px #05F2B1;"> </div> </a>
							<a href="{% url 'reservation2' %}"> <div class="stolik3" style="-webkit-box-shadow: 0px 0px 2px 19px #05F2B1; box-shadow: 0px 0px 2px 19px #05F2B1;"> </div> </a>
							<a href="{% url 'reservation2' %}"> <div class="stolik4" style="-webkit-box-shadow: 0px 0px 2px 19px #05F2B1; box-shadow: 0px 0px 2px 19px #05F2B1;"> </div> </a>
							<a href="{% url 'reservation2' %}"> <div class="stolik5" style="-webkit-box-shadow: 0px 0px 2px 19px #05F2B1; box-shadow: 0px 0px 2px 19px #05F2B1;"> </div> </a>
						</div>
					</div>


					<div style="clear:both;"></div>
				</section>
				{% if sugg.suc == "ayy" %}
				<div class="pustydiv">
					<form method="post">
						{% csrf_token %}
						{{form2.as_p}}
						<div class="input_field">
							<input type="submit" name="place_submit" value="OK" />
						</div>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</main>
{% endblock content %}