{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Rezerwacja</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section class="main_field">
		<div class="container px-0 mx-auto">
			<div class="row">
				<div class="col-12 col-lg-3 d-lg-inline-block">
					<div class="tlo_rejestracje">
						<div class="parametry_zamowienia4 mt-3" style="height:904px">
							<div class="menu_tekst pt-3">Uzupełnij dane</div>
							<form action="" method="post">
								{% csrf_token %}
								<div id="do_checkboxa col-12 text-justify ml-2">
									<fieldset>
										<legend> Ile miejsc przy stoliku? </legend>
										<div style="text-align:left;">
										{{ form_res.places_by_table }}
										</div>
									</fieldset>
								</div>

								<div class="input_field col-12 mt-3  text-justify ml-2">
									<fieldset>
										<legend> Którego dnia? </legend>
										{{form_res.day}}
									</fieldset>
								</div>
								<div class="input_field col-12 mt-3  text-justify ml-2">
									<fieldset>
										<legend> Od której godziny? </legend>
										{{form_res.time_begin}}
									</fieldset>
								</div>

								<div class="input_field col-12 mt-3  text-justify ml-2">
									<fieldset>
										<legend> Do której godziny? </legend>
										{{form_res.time_end}}
									</fieldset>
								</div>

								<div class="input_field col-12 mt-3 ">
									<input class="rejestracja_input2" type="submit" name="date_submit" value="Sprawdź dostępne" />
								</div>
							</form>
							{% if sugg.suc == "reserve" %}
							<div class="menu_tekst">Zaznacz stolik na planie restauracji</div>
							{% endif %}
						</div>


						{% if sugg.suc == "ayy" %}
						<div class="pustydiv">
							<form method="post">
								{% csrf_token %}
								{{form2.as_p}}
								<div class="input_field">
									<input class="rezerwuje col-6 col-lg-3 m-auto" type="submit" name="place_submit" value="Rezerwuję" />
								</div>
							</form>
						</div>
						{% endif %}

						<div style="clear:both;"></div>
					</div>
				</div>
				<div class="col-12 col-lg-9 d-lg-inline-block mt-3">
					<div class="tlo_rejestracje">
						<div class="menu_tekst py-3">Mapa Restauracji</div>
					</div>
					<div class="tlo_rejestracje">
						<img class="img-fluid" src="{% static 'images/restauracja z góry 3_2.png' %}" alt="mapa">
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}