
.icon-phone:before { content: '\e065'; } /* '' */
.icon-instagram:before { content: '\e088'; } /* '' */
.icon-home:before { content: '\e0e0'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */