{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block scripts %}{% endblock scripts %}
{% block content %}
    <main>
        <section>
            <div id="tlo_rejestracje">
                <div id="okno_srodek3">
                    <div id="rejestracja_okno">
                        <div class="menu_tekst">Zmiana hasla</div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form_auth.as_p }}
                            <input class="rejestracja_input" type="submit" value="Zmien haslo" name="change_imp">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}