{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock head %}
{% block scripts %}{% endblock scripts %}
{% block content %}
    <main>
        <section class="main_field">
            <div class="container px-0 py-0">
                <div class="tlo_rejestracje col-12 px-5 pb-4 text-justify">
                    <div class="row">
                        <div class="okno_srodek col-12 mx-auto mb-5 col-sm-8">
                            <div class="rejestracja_okno col-12 mx-auto">
                                <div class="menu_tekst">Zmiana hasla</div></br>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form_ch.as_p }}
                                    <input class="rejestracja_input" type="submit" value="Zmien haslo">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}