{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock head %}
{% block scripts %}
<script type="text/javascript">
    function zamknij_otworz_okno_srodek() {
        var y = document.getElementById("okno_srodek").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek3() {
        var y = document.getElementById("okno_srodek4").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek4").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek4").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek4() {
        var y = document.getElementById("okno_srodek5").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek5").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek5").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek5() {
        var y = document.getElementById("okno_srodek6").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek6").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek6").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek6() {
        var y = document.getElementById("okno_srodek7").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek7").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek7").style.display = "none";
        }
    }
    function zmiana_html() {

    }
</script>
{% endblock scripts %}
{% block content %}
<div id="okno_srodek" col-12 mx-auto col-sm-8>
    Podaj haslo. Jesli bedzie poprawne, wyslemy na twoj email link do jego zmiany. </br>
    <form method="post">
        {% csrf_token %}
        {{form_prof.password}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek()" name="pass_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek4" col-12 mx-auto col-sm-8>
    Podaj nowy nick </br>
    <form method="post">
        {% csrf_token %}
        {{nick_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek3()" name="nick_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek5" col-12 mx-auto col-sm-8>
    Podaj nowe imie </br>
    <form method="post">
        {% csrf_token %}
        {{name_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek4()" name="name_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek6" col-12 mx-auto col-sm-8>
    Podaj nowy email </br>
    <form method="post">
        {% csrf_token %}
        {{mail_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek5()" name="mail_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek7" col-12 mx-auto col-sm-8>
    Podaj nowy telefon </br>
    <form method="post">
        {% csrf_token %}
        {{phone_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek6()" name="phone_change_butt" value="Potwierdz" />
    </form>
</div>
<main>
    <section class="main_field">
        <div class="container px-0 py-0">
            <div class="tlo_rejestracje col-12 pt-3 pb-5 px-5" style="padding-bottom:10px">
                <div class="menu_tekst_duzy">Moje konto</div>
                </br>
                <div class="row">
                    <div class="konto_element col-8 mx-auto">Nazwa uzywkownika: {{data.username}}</div>
                    <div class="konto_maly col-3" onclick="zamknij_otworz_okno_srodek3()">Zmien</div>
                    <div style="clear:both;"></div>
                    <div class="konto_element col-8 mx-auto">Imie: {{data.first_name}}</div>
                    <div class="konto_maly col-3" onclick="zamknij_otworz_okno_srodek4()">Zmien</div>
                    <div style="clear:both;"></div>
                    <div class="konto_element col-8 mx-auto">Adres e-mail: {{data.email}}</div>
                    <div class="konto_maly col-3" onclick="zamknij_otworz_okno_srodek5()">Zmien</div>
                    <div style="clear:both;"></div>
                    <div class="konto_element col-8 mx-auto">Numer telefonu: {{data.phone}}</div>
                    <div class="konto_maly col-3" onclick="zamknij_otworz_okno_srodek6()">Zmien</div>
                    <div style="clear:both;"></div>
                    <div class="konto_element col-8 mx-auto">Haslo: *******</div>
                    <div class="konto_maly col-3" onclick="zamknij_otworz_okno_srodek()">Zmien</div>
                    <div style="clear:both;"></div>
                    <div class="konto_element col-8 mx-auto">Moje rezerwacje</div>
                    <div class="konto_maly col-3" onclick="javascript: document.location.href = {% url 'moje_rezerwacje' %};">Przejdz</div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
