{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block scripts %}
<script>
    function zamknij_otworz_okno_srodek() {
		var y = document.getElementById("okno_srodek").style.display
		if (y === "none" || !y) {
			document.getElementById("okno_srodek").style.display = "block";
		}
		else {
			document.getElementById("okno_srodek").style.display = "none";
		}
    }
    function zamknij_otworz_okno_srodek3() {
        var y = document.getElementById("okno_srodek4").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek4").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek4").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek4() {
        var y = document.getElementById("okno_srodek5").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek5").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek5").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek5() {
        var y = document.getElementById("okno_srodek6").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek6").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek6").style.display = "none";
        }
    }
    function zamknij_otworz_okno_srodek6() {
        var y = document.getElementById("okno_srodek7").style.display
        if (y === "none" || !y) {
            document.getElementById("okno_srodek7").style.display = "block";
        }
        else {
            document.getElementById("okno_srodek7").style.display = "none";
        }
    }
</script>
{% endblock scripts %}
{% block content %}
<div id="okno_srodek">
    Podaj haslo. Jesli bedzie poprawne, wyslemy na twoj email link do jego zmiany. </br>
    <form method="post">
        {% csrf_token %}
        {{form_prof.password}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek()" name="pass_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek4">
    Podaj nowy nick </br>
    <form method="post">
        {% csrf_token %}
        {{nick_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek3()" name="nick_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek5">
    Podaj nowe imie </br>
    <form method="post">
        {% csrf_token %}
        {{name_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek4()" name="name_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek6">
    Podaj nowy email </br>
    <form method="post">
        {% csrf_token %}
        {{mail_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek5()" name="mail_change_butt" value="Potwierdz" />
    </form>
</div>
<div id="okno_srodek7">
    Podaj nowy telefon </br>
    <form method="post">
        {% csrf_token %}
        {{phone_form}}

        </br><input class="rejestracja_input" type="submit" onclick="zamknij_otworz_okno_srodek6()" name="phone_change_butt" value="Potwierdz" />
    </form>
</div>
<main>
    <a href="#" class="scrollup"></a>
    <div id="strona_glowna">
        <div class="srodek_strona_glowna">
            <section>
                <div class="menu_tekst_duzy">Moje konto</div>
                </br>
                <div class="konto_element">Nazwa uzywkownika: {{data.username}}</div>
                <div class="konto_maly" onclick="zamknij_otworz_okno_srodek3()">Zmien</div>
                <div style="clear:both;"></div>
                <div class="konto_element">Imie: {{data.first_name}}</div>
                <div class="konto_maly" onclick="zamknij_otworz_okno_srodek4()">Zmien</div>
                <div style="clear:both;"></div>
                <div class="konto_element">Adres e-mail: {{data.email}}</div>
                <div class="konto_maly" onclick="zamknij_otworz_okno_srodek5()">Zmien</div>
                <div style="clear:both;"></div>
                <div class="konto_element">Numer telefonu: {{data.phone}}</div>
                <div class="konto_maly" onclick="zamknij_otworz_okno_srodek6()">Zmien</div>
                <div style="clear:both;" ></div>
                <div class="konto_element">Haslo: *******</div>
                <div class="konto_maly" onclick="zamknij_otworz_okno_srodek()">Zmien</div>
                <div style="clear:both;"></div>
                <div class="konto_element">Moje rezerwacje</div>
                <a href="{% url 'moje_rezerwacje' %}"><div class="konto_maly">Przejdz</div></a>
                <div style="clear:both;"></div>
            </section>
        </div>
    </div>
</main>
{% endblock content %}
