{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
    <main>
        <section>
            <a href="#" class="scrollup"></a>
            <div id="container">
                <div id="tlo_rejestracje">
                    <div id="okno_srodek3">
                        <div id="rejestracja_okno">
                            <div class="menu_tekst">Rejestracja</div></br>
                            <form method="POST">
                                {% csrf_token %}
                                {{form_reg.as_p}} </br>

                                <input class="rejestracja_input" type="submit" name ="regis" value="Zarejestruj sie">
                                </br></br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}