<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
<head>
	<meta charset="UTF-8" />
	<!--<title>Tytuł </title>-->
	<meta name="description" content="Tutaj wpisujemy opis" />
	<meta name="keywords" content="słowa kluczowe, tagi, o czym strona" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--<link href="{% static 'css/style.css' %}" rel="stylesheet" />-->
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

	<script>
		jQuery(function ($) {
			//zresetuj scrolla
			$.scrollTo(0);
			$('.scrollup').click(function () { $.scrollTo($('body'), 1000); });
		}
		);
		$(window).scroll(function () {
			if ($(this).scrollTop() > 300) $('.scrollup').fadeIn();
			else $('.scrollup').fadeOut();
		}
		);
	</script>

</head>


<body>
	<header>
		<div id="logo">
			Meet&Eat </br>
		</div>
		<nav>
			<ol>
				<li><a href="{% url 'home' %}">Strona główna</a></li>
				<li>
					<a href="#">Menu </a>
					<ul>
						<li><a href="{% url 'menu_pizze' %}">Pizze</a></li>
						<li><a href="{% url 'menu_makarony' %}">Makarony</a></li>
						<li><a href="{% url 'menu_kanapki' %}">Włoskie kanapki</a></li>
						<li><a href="{% url 'menu_napoje' %}">Napoje</a></li>
						<li><a href="{% url 'menu_desery' %}">Desery</a></li>
					</ul>
				</li>
				<li>
					<a href="{% url 'restauracja' %}">Restauracja</a>
					<ul>
						<li><a href="#">Cała restauracja</a></li>
						<li><a href="#">Stolik 1</a></li>
						<li><a href="#">Stolik 2</a></li>
						<li><a href="#">Stolik 3</a></li>
						<li><a href="#">Stolik 4</a></li>
					</ul>
				</li>
				<li><a href="{% url 'reservation' %}">Zarezerwuj</a></li>
				<li><a href="{% url 'kontakt' %}">Kontakt</a></li>
				<li>
					<a href="#">Moje Konto</a>
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url 'profile' %}">Moje konto</a></li>
						<li><a href="#">Moje rezerwacje</a></li>
						<li><a href="{% url 'logout' %}">Wyloguj</a></li>
						{% else %}
						<li><a href="{% url 'login' %}">Zaloguj</a></li>
						<li><a href="{% url 'register' %}">Zarejestruj się</a></li>
						{% endif %}
					</ul>
				</li>
			</ol>
		</nav>
	</header>
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">
		{{message}}
	</div>
	{% endfor %}
	{% endif %}
	<a href="#" class="scrollup"></a>
	{% block content %}{% endblock %}

	<div id="footer">
		Meet & Eat </br>
	</div>

	<script src="{% static 'jquery-1.11.3.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			var NavY = $('nav').offset().top;

			var stickyNav = function () {
				var ScrollY = $(window).scrollTop();

				if (ScrollY > NavY) {
					$('nav').addClass('sticky');
				} else {
					$('nav').removeClass('sticky');
				}
			};

			stickyNav();

			$(window).scroll(function () {
				stickyNav();
			});
		});
	</script>
</body>
</html>