{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Rezerwacja</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
    <section class="main_field">
        <div class="container px-0 py-0">
            <div class="tlo_rejestracje col-12 px-5 pb-4 text-justify">
                <div class="row">
                    <div class="okno_srodek col-12 mx-auto col-sm-12" style="margin-top:100px; margin-bottom:100px;">
                        <div class="rejestracja_okno col-12 mx-auto">
                            <div class="menu_tekst">Czat</div></br>
                            <div class="czat col-11" style="background-color:#D1D1D1;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}