{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Kontakt</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section class="main_field">
		<div id="strona_glowna">
			<div class="container px-0 py-0">
				<div class="tlo_rejestracje col-12 px-5 py-5 pb-4">
					<div class="row">
						<div class="kontakt col-sm-12 mb-4">
							<a href="https://www.facebook.com/" target="_blank" class="tilelink">
								<div class="fb col-sm-8 mx-auto">
									<i class="icon-facebook"></i>
								</div>
							</a>
						</div>
						<div class="kontakt col-sm-12 mb-4 ">
							<a href="https://www.instagram.com/" target="_blank" class="tilelink">
								<div class="ig col-sm-8 mx-auto">
									<i class="icon-instagram"></i>
								</div>
							</a>
						</div>
						<div class="kontakt col-sm-12 mb-4">
							<div class="adres col-sm-8 mx-auto">
								<i class="demo-icon icon-home"></i>
								</br>
								</br>
								Szczecin, ul.Projektowa 26
							</div>
						</div>
						<div class="kontakt col-sm-12">
							<div class="tel col-sm-8 mx-auto">
								<i class="demo-icon icon-phone"></i>
								</br>
								</br>
								+ 48 736 923 XXX
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</section>
</main>
{% endblock content %}