{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Restauracja</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<a href="#" class="scrollup"></a>
	<section>
		<div id="container">
			<div id="strona_glowna">
				<div class="srodek">
					<div class="menu_tekst"> Plan restauracji </div> </br>
					<img src="{% static 'images/restauracja z góry 3.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Od strony obsługi </div> </br>
					<img src="{% static 'images/widok zza lady.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Z rogu </div> </br>
					<img src="{% static 'images/widok z rogu.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Stolik 1 </div> </br>
					<img src="{% static 'images/stolik przy drzwiach.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					</br> </br>
					<img src="{% static 'images/stolik przy drzwiach2.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Stolik 2 </div> </br>
					<img src="{% static 'images/stolik w rogu 2.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					</br> </br>
					<img src="{% static 'images/stolik w rogu.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Stolik 3 </div> </br>
					<img src="{% static 'images/stolik na srodku.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					</br> </br>
					<img src="{% static 'images/stolik na srodku 2.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Stolik 4 </div> </br>
					<img src="{% static 'images/stolik przy kuchni.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					</br> </br>
					<img src="{% static 'images/stolik przy kuchni 2.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					<div class="menu_tekst"> Stolik 5 </div> </br>
					<img src="{% static 'images/stolik w wnęce.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">
					</br> </br>
					<img src="{% static 'images/stolik w wnęce 2.png' %}" alt="Italian Trulli" style="width:800px; border: 1px solid black;">

				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}
	
