{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Kontakt</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<a href="#" class="scrollup"></a>
		<div id="container">
			<div id="strona_glowna">
				<a href="https://www.facebook.com/" target="_blank" class="tilelink">
					<div class="kontakt_window_facebook">
						<i class="icon-facebook"></i>
					</div>
				</a>

				<div class="kontakt_window_adres">
					<i class="demo-icon icon-home"></i>
					</br>
					Szczecin, ul.Projektowa 26
				</div>

				<div style="clear:both;"></div>

				<div class="kontakt_window_tel">
					<i class="demo-icon icon-phone"></i>
					</br>
					+ 48 736 923 XXX
				</div>

				<a href="https://www.instagram.com/" target="_blank" class="tilelink">
					<div class="kontakt_window_insta">
						<i class="icon-instagram"></i>
					</div>
				</a>
			</div>
			<div style="clear:both;"></div>
		</div>
	</section>
</main>
{% endblock content %}