{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Pizze</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="strona_glowna">
				<div id="pole_menu">
					<div class="zawartosc">Pizza Wiejska</div>
					<div class="zawartosc">Pizza Grzybobranie</div>
					<div class="zawartosc">Pizza Zemsta Szefa</div>
					<div class="zawartosc">Pizza Hawajka</div>
					<div class="zawartosc">Pizza Tunno</div>
					<div class="zawartosc">Pizza 4ser</div>
					<div class="zawartosc">Pizza Pepperoni</div>
					<div class="zawartosc">Pizza Mięsna</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}