{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Kanapki</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="strona_glowna">
				<div id="pole_menu">
					<div class="zawartosc">Banh Mi</div>
					<div class="zawartosc">Kati Roll</div>
					<div class="zawartosc">Bunny Chow</div>
					<div class="zawartosc">Kanapka Kubańska</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}