{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Desery</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="strona_glowna">
				<div id="pole_menu">
					<div class="zawartosc">Lody</div>
					<div class="zawartosc">Szarlotka</div>
					<div class="zawartosc">Ciasto Bananowe</div>
					<div class="zawartosc">Sernik</div>
					<div class="zawartosc">Ciastko Francuzkie</div>
					<div class="zawartosc">Czekoladowe marzenie</div>
					<div class="zawartosc">Piwo Lager</div>
					<div class="zawartosc">Piwo Ciemne</div>
					<div class="zawartosc">Wino Białe</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}