{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<title>MeetAndEat - Makarony</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% endblock head %}
{% block content %}
<main>
	<section>
		<div id="container">
			<div id="strona_glowna">
				<div id="pole_menu">
					<div class="zawartosc">Tagiatelle</div>
					<div class="zawartosc">Spaghetti</div>
					<div class="zawartosc">Łazanki</div>
					<div class="zawartosc">Z Kurczakiem</div>
					<div class="zawartosc">Carbonara</div>
					<div class="zawartosc">Z Owocami Morza</div>
					<div class="zawartosc">Cannelloni</div>
					<div class="zawartosc">Z Grzybami</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}